################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCoreDemo1/.vscode
/NetCoreDemo1/.vs
/NetCoreDemo1/NetCoreDemo1/bin/Debug
/NetCoreDemo1/NetCoreDemo1/obj
